root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{c,cpp,h,hpp}]
indent_size = 4

[*.{cmake,cmake.in}]
indent_size = 2

[*.{md,txt}]
indent_size = 2

[*.{json,ini,conf}]
indent_size = 2

[*.{ps1,sh,bat}]
indent_size = 2
